footer {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 4em;
    background-color: $darkColor;

    .holder {
        width: 1300px;
        .footer_items_all {
            display: flex;
            margin: 2em 0;

            .footer_items {
                padding-right: $base * 8; 
                padding-left: 0;
    
                .footer_svg {
                    fill: #ea4c89;
                    width: 100px;
                    margin-bottom: 1em;
                }

                p {
                    font-size: .9em;

                }
    
                .footer_media{
                    display: flex;
    
                    a {
                        width: 20px;
                        margin: 1em 1em 0 0;
                        fill: $corporateColor;
                    }
                }
    
                a {
                    display: flex;
                    flex-direction: column;
                    padding: .5em 0;
                    color: rgb(73, 73, 73);
                    font-size: .8em;
                }

                .footer_items_heading {
                    color: rgb(37, 38, 48);
                    font-weight: bold;
                    font-size: .9em;
                }

                .brand, .design{
                    margin: 1em 0 .5em 0;
                }
            }
        }
    }

    .rights {
        margin: 4em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .9em;
        color: $corporateColor;
    }
}